{% extends 'allianceauth/base-bs5.html' %}

{% block page_title %}Find Jeremy{% endblock page_title %}

{% block extra_css %}
    {% include "bundles/datatables-css-bs5.html" %}
{% endblock %}

{% block content %}
    <div class="col-lg-12" style="padding: 10px 10px 10px 10px">
        <table class="table table-aa">
            <thead>
                <tr>
                    <th>Character</th>
                    <th>Ship Name</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for thanny in thannys %}
                    <tr>
                        <td>{{ thanny.character.character.character_name }}</td>
                        <td>{{ thanny.name }}</td>
                        <td>{{ thanny.location_name.location_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block extra_javascript %}
    {% include "bundles/datatables-js-bs5.html" %}
{% endblock extra_javascript %}

{% block extra_script %}
    $(document).ready(function() {
        $('.table').DataTable({
            "pageLength": 50
        });
    });
{% endblock extra_script %}